.contact {
  .pageTitle {
    h2 {
      margin-bottom: 20px;
    }
  }
}

.contactContent {
  padding: 0 20px 20px;
  margin: 0;
  background-image: url('./../../images/contact-background.jpg');
  background-size: 760px;
  background-position: 220px 95px;
  background-repeat: no-repeat;
  position: relative;

  label {
    display: block;
    @include calcRem(17);
    margin: 20px 0 7px;
    animation: cardGradient 5s infinite;
    font-family: 'PT Sans', sans-serif;
  }

  .required {
    font-weight: normal;
    position: absolute;
    margin: 0px 0 0 1px;
    color: $input-error;
    animation: cardGradient 5s infinite;
  }

  .error {
    @include calcRem(15);
    margin: 0;
    padding-left: 10px;
    font-weight: normal;
    color: $input-error;

    &__hide {
      display: none;
    }
  }

  input {
    background: none;
    padding: 10px 5px 5px;
    @include calcRem(16);
    width: 100%;
    max-width: 400px;
    border: none;
    border: 1px solid rgba($theme-gray-solid, 0.5);
    color: rgba($theme-gray-solid, 0.9);

    &::placeholder {
      opacity: 0.7;
    }

    &:hover,
    &:focus {
      border: 1px solid rgba($theme-gray-solid, 0.5);
    }
  }

  textarea {
    -webkit-user-drag: none;
    @include calcRem(16);
    font-family: 'Cabin', sans-serif;
    max-width: 96%;
    padding: 5px;
    resize: none;
    width: 100%;
    max-width: 400px;
    min-height: 100px;
    max-height: 100px;

    &::placeholder {
      opacity: 0.7;
    }

    &:focus {
      outline: 0 !important;
      -webkit-appearance: none;
    }
  }

  .submitButton {
    margin: 10px 0 0;
    @include calcRem(17);
    display: block;
  }

  .messageSent {
    position: absolute;
    background: rgba($theme-white-solid, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    input {
      @include calcRem(18);
      position: absolute;
      text-align: center;
      height: 100%;
      min-width: 100%;
      border: none;
      margin-top: -30px;
      animation: fadeIn 300ms ease;
      cursor: default;

      &:nth-child(2) {
        @include calcRem(18);
        bottom: 260px;
        height: 30px;
        cursor: pointer;
        animation: fadeIn 300ms ease;

        &:hover {
          color: $theme-blue;
        }
      }
    }

    &__hide {
      display: none;
    }
  }
}
