@import url('https://fonts.googleapis.com/css?family=PT+Sans|EB+Garamond:500&display=swap');

* {
  box-sizing: border-box;
}

.particles {
  touch-action: none;
  opacity: 0.5;
  position: absolute;
  max-width: 100%;
}

body {
  background: $theme-white-solid;
  color: $theme-gray-solid;
  font-family: 'EB Garamond', serif;

  button {
    color: $theme-gray-solid;

    &:focus {
      outline: 0 !important;
      -webkit-appearance: none;
    }
  }

  input {
    font-family: 'PT Sans', sans-serif;
    background: none;
    padding: 10px 0 5px;
    font-weight: bold;
    @include calcRem(16);
    border: none;
    border-bottom: 1px solid rgba($theme-gray-solid, 0.5);
    color: rgba($theme-gray-solid, 0.9);

    &::placeholder {
      color: rgba($theme-gray-solid, 0.5);
    }

    &:focus {
      outline: 0 !important;
      -webkit-appearance: none;
      border: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: inset 0 0 0 30px $theme-white-solid;
      -webkit-box-shadow: inset 0 0 0 30px $theme-white-solid !important;
    }
  }

  a {
    color: $theme-gray-solid;
    text-decoration: none;
  }

  p {
    line-height: 25px;
    margin: 10px 0;
    @include calcRem(16.5);
    font-family: 'PT Sans', sans-serif;
  }
  span {
    font-weight: bold;
  }

  li {
    list-style-type: square;
  }
}

@supports (display: grid) {
  .smallCardContainer {
    display: grid;
    grid-gap: 10px;
    margin: 0 10px;
    grid-template-columns: repeat(auto-fit, 190px);
  }
}

.container {
  max-width: 1500px;
  margin: 40px auto 0 260px;
  transition: 300ms ease-out;
}

.boxShadow {
  background: $theme-white-solid;
  box-shadow: 0 0 50px rgba(#797979, 0.2);
}

.textCenter {
  text-align: center;
}

.innerCard {
  margin: 10px;
  border-radius: 15px;
  overflow: auto;

  img {
    position: relative;
    max-width: 100%;
    border-radius: 3px;
  }
}

.linkedCard {
  cursor: pointer;
  transition: 200ms ease-out;

  &:hover {
    transform: translateY(-1px);
    transition: 200ms ease-out;
    box-shadow: $card-shadow-hover;
  }
}

.submitButton {
  font-family: 'PT Sans', sans-serif;
  color: $theme-white-solid;
  text-transform: uppercase;
  border: none;
  margin: 30px 0 0;
  padding: 5px 10px;
  border-radius: 3px;
  @include calcRem(18);
  text-align: center;
  background: rgba($theme-black-solid, 0.8);
  transition: 200ms ease-out;
  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    transition: 200ms ease-out;
  }
}
