.loginContainer {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('./../../images/login.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;

  h4 {
    @include calcRem(25);
    font-weight: bold;
    color: $theme-black-solid;
    text-align: left;
    margin: -20px 0 5px -5px;

    &:nth-child(3) {
      margin-top: 30px;
    }

    span {
      @include calcRem(20);
      font-weight: normal;
      color: rgb(18, 36, 56);
    }
  }

  .loginCard {
    width: 300px;
    padding: 60px 30px 30px;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    animation: login 6s infinite;
    overflow: hidden;

    .background {
      position: absolute;
      top: -10px;
      bottom: -10px;
      right: -5px;
      left: -5px;
      width: 130%;
      height: 130%;
      background-image: url('./../../images/login.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      opacity: 0.7;
      filter: blur(4px);
      z-index: -99;
    }

    .form {
      position: relative;
      z-index: 99;
    }

    input {
      @include calcRem(16);
      border: none;
      padding: 10px;
      box-shadow: $card-shadow;
      margin: 5px 0 5px -10px;
      width: 100%;
      font-weight: bold;
      background: rgba($theme-skyblue, 0.5);
      border-radius: 3px;
    }

    .error__hide {
      display: none;
    }

    .loginButton {
      font-family: 'PT Sans', sans-serif;
      color: $theme-white-solid;
      text-transform: uppercase;
      border: none;
      margin: 30px 0 0;
      padding: 5px 10px;
      border-radius: 3px;
      @include calcRem(18);
      text-align: center;
      background: rgba($theme-black-solid, 0.8);
      transition: 200ms ease-out;
      cursor: pointer;

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
        transition: 200ms ease-out;
      }
    }
  }
}
