.aboutContent {
  background-image: url('./../../../images/about-background.jpg');
  background-size: 480px;
  background-position: 410px 100px;
  background-repeat: no-repeat;
  padding: 20px;

  p {
    max-width: 450px;
  }

  a {
    font-style: oblique;
  }
}
