.about {
  .contentCard {
    .setTitle {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      h2 {
        padding: 10px 0;
      }

      p {
        @include mainFont('EB Garamond');
        background: none;
        padding: 10px 0 0px 2px;
        margin: 0;
        margin-left: 7px;
        font-weight: bold;
        @include calcRem(18);
        border: none;
        color: rgba($theme-gray-solid, 0.5);
        position: relative;
        font-weight: normal;
      }

      span::before {
        content: '\0F36';
        position: absolute;
        left: -17px;
        top: 8px;
      }

      span::after {
        content: '\0F36';
        position: absolute;
        right: -17px;
        top: 8px;
      }
    }
  }

  .aboutContent {
    background-image: url('./../../../images/about-background.png');
    background-size: 480px;
    background-position: 410px 100px;
    background-repeat: no-repeat;
    padding: 20px;

    p {
      max-width: 450px;
    }

    a {
      font-style: oblique;
    }
  }
}
