.cards {
  max-width: 100%;
  border-radius: 8px;
  margin: 0;
  opacity: 0.9;

  img {
    border-radius: 8px;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &:hover {
    opacity: 0.95;
  }
}

.contentCard {
  .setTitle {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      margin-bottom: 0;
    }

    img {
      padding-top: 10px;
      max-width: 60px;
      width: 100%;
      overflow: hidden;
      height: 60px;
      box-shadow: none;
    }

    .setIconLoading {
      padding: 10px 10px 10px 10px;
    }
  }

  .postFilter {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 0;
    }

    .lastCardLoading {
      float: right;
      padding-left: 2px;
    }

    .currentPage {
      margin: 0 15px -12px;
      color: rgba($theme-gray-solid, 0.5);
    }

    .prevCard,
    .nextCard {
      cursor: pointer;
      transition: 200ms ease-out;
      position: relative;

      &:disabled {
        cursor: default;
        opacity: 0.5;
        transition: 200ms ease-out;
      }
    }

    .prevCard span {
      position: absolute;
      bottom: 1px;
      right: 40px;
      transform: rotate(0) translateX(0);
      transition: 300ms;
    }

    .prevCard:hover span {
      transform: rotate(-90deg) translateY(-3px) translateX(-3px);
      transition: 300ms;
    }

    .prevCard:disabled:hover span,
    .nextCard:disabled:hover span {
      transform: rotate(0) translateY(0) translateX(0);
    }

    .nextCard span {
      position: absolute;
      bottom: 1px;
      left: 43px;
      transform: rotate(0) translateX(0);
      transition: 300ms;
    }

    .nextCard:hover span {
      transform: rotate(90deg) translateY(-4px) translateX(3px);
      transition: 300ms;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    @include calcRem(30);
  }

  img {
    float: left;
    opacity: 0.9;
    width: 320px;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 5px 0 15px rgba(black, 0.3);
  }

  .loading {
    float: left;
    padding: 75px;
  }

  .cardInfo {
    float: left;
    padding-left: 25px;

    h2 {
      margin-top: 10px;
    }

    p {
      max-width: 340px;
    }

    span {
      font-weight: bold;
    }
  }
}

.previewCards {
  position: relative;
  right: 0;
  z-index: -1;

  img {
    border-radius: 10px;
    max-width: 100%;
  }

  .previewPrevCard {
    position: absolute;
    width: 245px;
    left: 100px;
    top: 160px;
    opacity: 0.6;

    &__hide {
      display: none;
    }
  }

  .previewNextCard {
    position: absolute;
    width: 245px;
    min-height: 340px;
    right: 100px;
    top: 160px;
    opacity: 0.6;

    &__hide {
      display: none;
    }
  }
}
