.autoOpen {
  background: #f8f8f8;
  box-shadow: inset 0 0 20px rgba(#8f8f8f, 0.3);
  height: 100%;
}

.toggleButton {
  top: 0;
  position: fixed;
  transition: 200ms;
  z-index: 9999;

  .navIcons {
    img {
      z-index: 9999;
      cursor: pointer;
      max-width: 100%;
      margin: 5px 5px 5px 0;
      height: 100%;
      opacity: 0.8;
      transition: 100ms ease-out;
    }
  }

  ul {
    padding: 0;
    margin: 2px 0 0;
  }

  button {
    margin-left: 5px;
    background: none;
    border: none;
  }

  img {
    width: 25px;
    height: 25px;
  }
}

.toggle {
  &__open {
    background: $theme-white-solid;
    min-height: 100%;
    width: 250px;
    top: 0;
    position: fixed;
    box-shadow: inset 0 0 20px rgba(#8f8f8f, 0.3);
    transition: 300ms ease-out;
    z-index: 999;
  }

  &__closed {
    top: 0;
    background: $theme-white-solid;
    box-shadow: inset 0 0 20px rgba(#8f8f8f, 0.3);
    transition: 300ms ease-out;
    transform: translateX(-250px);
    transition: 300ms ease-out;
    position: fixed;

    + .container {
      padding: 0 30px 0 40px;
      margin-left: 20px;
      transition: 300ms ease-out;
    }
  }
}

.navbar {
  img {
    max-width: 30px;
    margin: 25px 0 0 20px;
    border-radius: 100%;
    opacity: 0.9;
  }

  ul {
    padding: 0 25px 0;
    margin: -5px 0 0 20px;

    li,
    .Collapsible__trigger {
      font-family: 'PT Sans', sans-serif;
      list-style: none;
      margin: 17px 0 0;
      font-weight: bold;
      @include calcRem(17);
      width: 100%;

      &:hover {
        color: $theme-blue;
      }
    }
  }

  a,
  span {
    cursor: pointer;
    color: $theme-gray-solid;
    text-decoration: none;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: $theme-blue;
    }
  }
}

.navCollapsible {
  .Collapsible {
    margin-top: 6px;
    height: 400px;
    max-height: 100%;
    width: 100%;
    padding: 15px 0;
    color: $theme-gray-solid;

    &__contentOuter {
      margin-left: -35px;
      margin-right: -25px;
      margin-top: -10px;
    }

    .is-closed::after {
      content: '\276F';
      position: absolute;
      margin-top: 1px;
      margin-left: 10px;
      transform: rotate(90deg);
    }

    .is-open::after {
      content: '\276F';
      position: absolute;
      margin-top: 1px;
      margin-left: 10px;
      transform: rotate(270deg);
    }

    .setList {
      margin: 20px 0;
      overflow: auto;
      height: 400px;
      max-height: 100%;

      .listItem {
        display: flex;
        justify-content: left;

        &__hide {
          display: none;
        }
        &:nth-child(even) {
          background: #d8d8d8;
        }

        p {
          @include calcRem(14);
          font-weight: bold;
          max-width: 180px;
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        img {
          border-radius: 0;
          margin: 7px 0 0 5px;
          height: 20px;
          width: 20px;
        }

        button {
          width: 100%;
          cursor: pointer;
          background: none;
          border: none;
          text-align: left;
          margin: -5px 0 -5px;
          padding: 0 10px 0 5px;

          &:hover {
            color: $theme-blue;
          }
        }
      }
    }
  }
}
